/* Display Fonts */
@font-face {
    font-family: Fasthand-Regular;
    src: url(../fonts/Fasthand/Fasthand-Regular.ttf);
}


/* Content Fonts */
@font-face {
    font-family: rubik-black;
    src: url(../fonts/rubik/Rubik-Light.ttf)
}
